<!DOCTYPE html>
<html lang="pt-br" ng-app="cadastro">
<head>

	<meta charset="utf-8">
	<title>Cadastro usuário</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">

	<script src="angular/angular.js"></script>
	<script src="cadUsuario.js"></script>

</head>
<body ng-controller="cadastroCtrl">

	<div class="container">
		<h2 style="text-align: center">Cadastrar Novo Usuário</h2>
		<form name="usuarioCadastrado">
			Username: <br>
			<input class="form-control" type="text" ng-model="usuario.username" name="username" placeholder="username" ng-required="true">
			Senha: <br>
			<input class="form-control" type="password" ng-model="usuario.senha" name="senha" placeholder="senha" ng-required="true" ng-minlength="4">
			<div class="alert alert-danger" ng-show="usuarioCadastrado.senha.$dirty">A senha deve conter, pelo menos, 4 dígitos!</div>
			<hr>
			Nome: <br>
			<input class="form-control" type="text" ng-model="usuario.nome" name="nome" placeholder="nome" ng-required="true">
			E-mail: <br>
			<input class="form-control" type="text" ng-model="usuario.email" name="email" placeholder="e-mail" ng-required="true" ng-pattern="/@/">
		</form>
		<button class="btn btn-primary" ng-disabled="usuarioCadastrado.$invalid || usuarioCadastrado.senha.$error.pattern" ng-click="addUsuario()">Cadastrar</button>
		<button class="btn btn-primary">Voltar</button>
	</div>

</body>
</html>